:root {
  --pink: #e84393;
  --white: #fff;
  --gray: #333;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-right: 3rem;
  margin-left: 3rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
}

.header a {
  text-decoration: none;
}

.header__logo-link {
  font-size: 3rem;
  color: var(--gray);
  font-weight: bolder;
}

.header__logo-link:hover {
  color: var(--pink);
}

.header__logo-link span {
  color: var(--pink);
}

.header__icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__icon {
  font-size: 2rem;
  color: var(--gray);
}

.header__icon:hover {
  color: var(--pink);
}

.header__icon-closeMenu,
.header__icon-openMenu {
  display: none;
}

.navbar__list {
  display: flex;
  gap: 2rem;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar__link {
  font-size: 2rem;
  color: #666;
}

.navbar__link:hover {
  color: var(--pink);
}

.navbar__item {
  margin: 0;
  padding: 0;
}

.btn {
  display: inline-block;
  border-radius: 5rem;
  background-color: var(--gray);
  color: var(--white);
  padding: 1rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
  text-decoration: none;
}

.home {
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  min-height: 80vh;
  background-image: url("../images/home_background2.jpg");
  background-size: cover;
  background-position: center;
}

.home__content {
  max-width: 50rem;
  background: #000;
  padding: 20px;
  opacity: 0.7;
}

.home__title {
  font-size: 5rem;
  color: var(--white);
}

.home__subtitle {
  font-size: 3.5rem;
  color: var(--pink);
}

.home__description {
  font-size: 1.5rem;
  color: var(--white);
  padding: 1rem;
}


.home__btn:hover {
  color: var(--white);
  background-color: var(--pink);
  transition: 0.3s ease;
}

.about {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.about__title,
.products__title {
  text-align: center;
  font-size: 4rem;
  color: var(--gray);
  padding: 1rem;
  margin: 2rem 0;
  background-color: rgba(255, 51, 153, 0.05);

}

.about__title-highlight,
.products__title-highlight {
  color: var(--pink);
}

.about__content {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}

.about__video-container {
  flex: 1 1 40rem;
  position: relative;
}

.about__video {
  width: 100%;
  border: 1.5rem solid var(--white);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgb(0, 0, 0.1);
  height: 100%;
  object-fit: cover;
}

.about__video-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  background-color: var(--white);
  color: var(--gray);
  width: 100%;
  padding: 0.5rem 2rem;
  text-align: center;
  mix-blend-mode: screen;
}

.about__info {
  flex: 1 1 40rem;
}

.about__info-title {
  font-size: 3rem;
  color: var(--gray);

}

.about__info-text {
  font-size: 1.5rem;
  color: #888;
  padding: 0.5rem 0;
  padding-top: 1rem;
  line-height: 1.5;
}


.features {
  background-color: #eee;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;

}

.features__item {
  background-color: var(--white);
  border: 1rem solid rgba(0, 0, 0, 0.3);
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 25%;
  flex-direction: column;
  gap: 1rem;
  max-width: 22%;
}

.feature__icon {
  font-size: 3rem;
}

.products__container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}

.product {
  flex: 1 1 25rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  position: relative;
}

.product:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.product__discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.7rem 1rem;
  font-size: 2rem;
  color: var(--pink);
  background-color: rgba(255, 51, 153, 0.05);
  z-index: 10;
  border-radius: 0.5rem;
}

.product__image-card {
  position: relative;
  text-align: center;
  padding-top: 2rem;
  overflow: hidden;
}

.product__image {
  max-height: 20rem;
  object-fit: contain;
}

.product__form {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.product__add-button {
  width: 70%;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2rem;
  background-color: var(--pink);
  color: var(--white);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}


.product__add-button:hover {
  background-color: #ff007f;
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.product__add-button:active {
  transform: scale(0.98);
}

.product__icon-cart {
  margin-right: 1rem;
}

@media screen and (max-width: 580px) {
  .navbar {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--white);
    flex-direction: column;
    padding: 1rem;
    transform: translateY(-30px);
    z-index: 100;
  }

  .navbar.show {
    display: flex;
  }

  .navbar__list {
    flex-direction: column;
  }

  .header__icon-openMenu.show,
  .header__icon-closeMenu.show {
    display: block;
  }

  .home {
    padding: 0;
  }

  .about__info {
    text-align: center;
  }

  .features {
    flex-direction: column;
    align-items: stretch;
  }

  .features__item {
    max-width: 100%;
    flex: 1 1 auto;
  }
}
